name = "Aranea Serket"
handle = "N/A"
handle_short = "N/A"

["b to 8"]
type = "replacement"
subtype = "one-to-one"
start = "b"
end = "8"

["great to gr8"]
type = "replacement"
subtype = "one-to-one"
start = "great"
end = "gr8"

["Great to Gr8"]
type = "replacement"
subtype = "one-to-one"
start = "Great"
end = "Gr8"

