name = Equius Zahhak
handle = centaursTesticle

["x to %"]
type = replacement
subtype = one-to-one
start = x
end = %

["X to %"]
type = replacement
subtype = one-to-one
start = X
end = %

["loo to 100"]
type = replacement
subtype = one-to-one
start = loo
end = 100

["ool to 001"]
type = replacement
subtype = one-to-one
start = ool
end = 001

["LOO to 100"]
type = replacement
subtype = one-to-one
start = LOO
end = 100

["OOL to 001"]
type = replacement
subtype = one-to-one
start = OOL
end = 001

["Loo to 100"]
type = replacement
subtype = one-to-one
start = Loo
end = 100

["Ool to 001"]
type = replacement
subtype = one-to-one
start = Ool
end = 001

["cross to %"]
type = replacement
subtype = one-to-one
start = cross
end = %

["Cross to %"]
type = replacement
subtype = one-to-one
start = Cross
end = %

["CROSS to %"]
type = replacement
subtype = one-to-one
start = CROSS
end = %

