name = Feferi Peixes
handle = cuttlefishCuller

["fish puns"]
type = puns
subtype = substitution
puns = Fishpuns

["E to -E"]
type = replacement
subtype = one-to-one
start = E
end = -E

["H to )("]
type = replacement
subtype = one-to-one
start = H
end = )(

["h to )("]
type = replacement
subtype = one-to-one
start = h
end = )(

