name = Latula Pyrope
handle = N/A

["a to 4"]
type = replacement
subtype = one-to-one
start = a
end = 4

["A to 4"]
type = replacement
subtype = one-to-one
start = A
end = 4

["i to 1"]
type = replacement
subtype = one-to-one
start = i
end = 1

["I to 1"]
type = replacement
subtype = one-to-one
start = I
end = 1

["e to 3"]
type = replacement
subtype = one-to-one
start = e
end = 3

["E to 3"]
type = replacement
subtype = one-to-one
start = E
end = 3

