name = "Meulin Leijon"
handle = "N/A"
handle_short = "N/A"

["EE to 33"]
type = "replacement"
subtype = "one-to-one"
start = "EE"
end = "33"

["cat puns"]
type = "puns"
subtype = "substitution"
puns = "REPLACE_ME_CATPUNS"

["complex prefix"]
type = "attachments"
subtype = "prefix"
prefix = "\\(=^..^)/ < "

