name = "Mituna Captor"
handle = "N/A"
handle_short = "N/A"

["a to 4"]
type = "replacement"
subtype = "one-to-one"
start = "a"
end = "4"

["A to 4"]
type = "replacement"
subtype = "one-to-one"
start = "A"
end = "4"

["b to 8"]
type = "replacement"
subtype = "one-to-one"
start = "b"
end = "8"

["B to 8"]
type = "replacement"
subtype = "one-to-one"
start = "B"
end = "8"

["e to 3"]
type = "replacement"
subtype = "one-to-one"
start = "e"
end = "3"

["E to 3"]
type = "replacement"
subtype = "one-to-one"
start = "E"
end = "3"

["i to 1"]
type = "replacement"
subtype = "one-to-one"
start = "i"
end = "1"

["I to 1"]
type = "replacement"
subtype = "one-to-one"
start = "I"
end = "1"

["o to 0"]
type = "replacement"
subtype = "one-to-one"
start = "o"
end = "0"

["O to 0"]
type = "replacement"
subtype = "one-to-one"
start = "O"
end = "0"

["s to 5"]
type = "replacement"
subtype = "one-to-one"
start = "s"
end = "5"

["S to 5"]
type = "replacement"
subtype = "one-to-one"
start = "S"
end = "5"

["t to 7"]
type = "replacement"
subtype = "one-to-one"
start = "t"
end = "7"

["T to 7"]
type = "replacement"
subtype = "one-to-one"
start = "T"
end = "7"

