name = Nepeta Leijon
handle = arsenicCatnip

["prefix cat face"]
type = attachments
subtype = prefix
prefix = ":33 < "

["ee to 33"]
type = replacement
subtype = one-to-one
start = ee
end = 33

["EE to 33"]
type = replacement
subtype = one-to-one
start = EE
end = 33

["regex emoticon"]
type = replacement
subtype = regex
regex = :[)(3]

["cat puns"]
type = puns
subtype = substitution
puns = REPLACE_ME_CATPUNS

