name = "Sollux Captor"
handle = "twinArmageddons"
handle_short = "TA"

["double i"]
type = "replacement"
subtype = "one-to-one"
start = "i"
end = "ii"

["double I"]
type = "replacement"
subtype = "one-to-one"
start = "I"
end = "II"

[s-to-2]
type = "replacement"
subtype = "one-to-one"
start = "s"
end = "2"

[S-to-2]
type = "replacement"
subtype = "one-to-one"
start = "S"
end = "2"

[to-to-two]
type = "replacement"
subtype = "one-to-one"
start = "to"
end = "two"

[To-to-two]
type = "replacement"
subtype = "one-to-one"
start = "To"
end = "Two"

[TO-to-two]
type = "replacement"
subtype = "one-to-one"
start = "TO"
end = "TWO"

[too-to-two]
type = "replacement"
subtype = "one-to-one"
start = "too"
end = "two"

[Too-to-two]
type = "replacement"
subtype = "one-to-one"
start = "Too"
end = "Two"

[TOO-to-two]
type = "replacement"
subtype = "one-to-one"
start = "TOO"
end = "TWO"

[tonight-to-twoniight]
type = "replacement"
subtype = "one-to-one"
start = "tonight"
end = "twoniight"

[Tonight-to-twoniight]
type = "replacement"
subtype = "one-to-one"
start = "Tonight"
end = "Twoniight"

[TONIGHT-to-twoniight]
type = "replacement"
subtype = "one-to-one"
start = "TONIGHT"
end = "TWONIIGHT"

[together-to-twogether]
type = "replacement"
subtype = "one-to-one"
start = "together"
end = "twogether"

[Together-to-twogether]
type = "replacement"
subtype = "one-to-one"
start = "Together"
end = "Twogether"

[TOGETHER-to-twogether]
type = "replacement"
subtype = "one-to-one"
start = "TOGETHER"
end = "TWOGETHER"

