name = Vriska Serket
handle = arachnidsGrip

["ate to 8"]
type = replacement
subtype = one-to-one
start = ate
end = 8

["Ate to 8"]
type = replacement
subtype = one-to-one
start = Ate
end = 8

["ATE to 8"]
type = replacement
subtype = one-to-one
start = ATE
end = 8

["ait to 8"]
type = replacement
subtype = one-to-one
start = ait
end = 8

["Ait to 8"]
type = replacement
subtype = one-to-one
start = Ait
end = 8

["AIT to 8"]
type = replacement
subtype = one-to-one
start = AIT
end = 8

["b to 8"]
type = replacement
subtype = one-to-one
start = b
end = 8

["B to 8"]
type = replacement
subtype = one-to-one
start = B
end = 8

["break to 8r8k"]
type = replacement
subtype = one-to-one
start = break
end = 8r8k

["Break to 8r8k"]
type = replacement
subtype = one-to-one
start = Break
end = 8r8k

["BREAK to 8r8k"]
type = replacement
subtype = one-to-one
start = BREAK
end = 8R8K

["brake to 8r8k"]
type = replacement
subtype = one-to-one
start = brake
end = 8r8k

["Brake to 8r8k"]
type = replacement
subtype = one-to-one
start = Brake
end = 8r8k

["BRAKE to 8r8k"]
type = replacement
subtype = one-to-one
start = BRAKE
end = 8R8K

